body{
    height: 100%;
    background-image: linear-gradient(#020202, #1a1919);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}

header{
    position: relative;
    text-align: center;
    color: rgb(49, 49, 49);
    background-color: #020202;
}

#kot{
    display: block;
    margin-left: auto;
    width: 15%;
}
h1{
    color: rgb(230, 230, 230);
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    text-shadow: 0px 0px 20px #d497ad;

}

#mynav{
    background-image: linear-gradient(#e9c6d3, #d497ad);
    text-align: center;
}

#mynav li:hover{
    background-image: linear-gradient(#d497ad, #e9c6d3);
}

#mynav li{
    padding: 10px 3%;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#mynav li:last-child{
    border-right: none;
}

#mynav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#mynav ul li{
    display: inline-block;
    vertical-align: middle;
}

#mynav a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

section{
    margin: auto;
    width: 90%;
    padding: 0% 5%;
    color: rgb(230, 230, 230);
}

footer{
    position:static;
    margin: 0;
    width: 100%;
    background-image: linear-gradient(#e9c6d3, #d497ad);
    color: black;
    text-align: center;
}

p{
    padding: 1%;
}