@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  height: 100%;
  background-image: linear-gradient(#020202, #202020);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Raleway;
}

header {
  position: relative;
  text-align: center;
  color: rgb(49, 49, 49);
  background-color: #020202;
}

#kot {
  display: block;
  margin-left: auto;
  max-width: 15%;
}
h1 {
  color: #f1e4e9;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6vw;
  text-shadow: 0px 0px 20px #d497ad;
}

#mynav {
  background-image: linear-gradient(#e9c6d3, #d497ad);
}

#mynav li:hover {
  background-image: linear-gradient(#d497ad, #e9c6d3);
}

#mynav li {
  padding: 10px 3%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

#mynav li:last-child {
  border-right: none;
}

#mynav ul {
  display: flex;
  position: relative;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

#mynav a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}

.toggle-button {
  position: absolute;
  display: none;
  top: 0px;
  right: 2rem;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  margin: 13px 20px;
}

.toggle-button .bar {
  height: 2px;
  width: 100%;
  background-color: #020202;
  border-radius: 10px;
}

@media (max-width: 950px) {
  .toggle-button {
    display: flex;
  }
  .nav {
    display: none;
    padding: 0;
    justify-content: center;
  }

  #mynav li {
    border-right: 0px;
  }

  .nav.active {
    display: flex;
  }

  #mynav ul {
    flex-direction: column;
  }

  .home {
    width: 125px;
  }
}

section {
  margin: auto;
  width: 70%;
  padding: 1% 5%;
}

#cards {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.card {
  background-color: #f1e4e9;
  border-radius: 10px;
  width: 18vw;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  height: fit-content;
}

.card img {
  width: 18vw;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px #8f8f8f;
}

.card h2 {
  color: #020202;
  font-size: 24px;
}

.card p {
  text-align: justify;
  font-size: 18px;
  color: #202020;
  margin-bottom: 10px;
}

#cards button {
  border: none;
  font-size: 16px;
  color: #b6587a;
  font-weight: bold;
  background-color: #f1e4e9;
  padding: 5px 0px;
}

#cards button:hover {
  cursor: pointer;
  background-color: #f1e4e9;
  text-shadow: 0px 0px 5px #e9c6d3;
}

.more {
  display: none;
}

footer {
  position: static;
  bottom: 0;
  margin: 0;
  width: 100%;
  background-image: linear-gradient(#e9c6d3, #d497ad);
  color: black;
}

footer p {
  text-align: center;
  padding: 1%;
  font-size: 14px;
}
