body {
  height: 100%;
  background-image: linear-gradient(#fedcb0, #fcbcd0);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: Verdana, Tahoma, sans-serif;
}

section {
  text-align: center;
}

#gamename {
  font-size: 35px;
}

.gamemodelabel {
  display: inline-block;
  font-size: clamp(10px, 3vw, 25px);
  margin: 0;
  height: 35px;
  text-align: center;
  padding: 0 15px;
}

#switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 35px;
}
#switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fc80a6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 35px;
}

.slider.round:before {
  border-radius: 50%;
}

#gamecontainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 60vw;
  max-width: 525px;
  margin: 40px auto;
}

.cell {
  width: 20vw;
  max-width: 175px;
  height: 20vw;
  max-height: 175px;
  border: 1px solid black;
  cursor: pointer;
  background-color: #fceef2;
}

.cell.X,
.cell.O {
  cursor: not-allowed;
  font-size: clamp(70px, 18vw, 150px);
  font-family: Arial;
}

.cell.X {
  color: #feca88;
}

.cell.O {
  color: #fc7fa6;
}

#gamerestart {
  font-size: 20px;
  font-family: Verdana, Tahoma, sans-serif;
  padding: 10px;
  width: 125px;
  background-color: #fceef2;
  border: #fcbcd0 outset;
  cursor: pointer;
}

#gamerestart:active {
  border: #fcbcd0 inset;
}
