<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/cats/static/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script src="script.js" defer></script>
    <title>Koty</title>
  </head>
  <body>
    <header>
      <h1>Koty</h1>
    </header>
    <section>
      <div id="cards">
        <div class="cat_card card">
          <img src="/cats/static/sfinks.jpg" alt="zdjęcie sfinksa" />
          <h2>Lorem Ipsum</h2>
          <p>
            dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet,
            nulla et dictum interdum, nisi lorem egestas vitae. Phasellus
            imperdiet, nulla et dictum interdum, nisi lorem egestas vitae
          </p>
          <button onclick="readMore1()" id="read-more1">Czytaj więcej</button>
        </div>
        <div class="cat_card card">
          <img
            src="/cats/static/ragdoll.jpg"
            alt="zdjęcie niedźwiedzi polarnych"
          />
          <h2>Lorem Ipsum</h2>
          <p>
            dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet,
            nulla et dictum interdum, nisi lorem egestas vitae
          </p>
          <button onclick="readMore2()" id="read-more2">Czytaj więcej</button>
        </div>
        <div class="cat_card card">
          <img src="/cats/static/syjamski.jpg" alt="zdjęcie ryby" />
          <h2>Lorem Ipsum</h2>
          <p>
            dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet,
            nulla et dictum interdum, nisi lorem egestas vitae kc bartus uwu
          </p>
          <button onclick="readMore3()" id="read-more3">Czytaj więcej</button>
        </div>
      </div>
      <div id="details">
        <h1>SPHYNX</h1>
        <div class="general_section card">
          <img src="/cats/static/sfinks.jpg" alt="zdjęcie sfinksa" />
          <div>
            <div class="history_description">
              <p>
                The sphynx cat is a Canadian breed originating in Toronto in
                1966 from a random genetic mutation. The mutation caused the
                kitten to be hairless. Some breeders took a liking to the
                hairless cat and decided to breed individuals that produced
                consistently hairless offspring. The breed made its way to
                America, and both American and Canadian breeders continued to
                develop the new breed, cross-breeding sphynx cats with Devon rex
                cats, another breed that has little hair. Over time, the sphynx
                cat was established as a new breed with its own breed standards.
              </p>
            </div>
            <div class="basic_info">
              <div class="row">
                <i class="material-icons">favorite_border</i>10-14 years
              </div>
              <div class="row"><i class="material-icons">scale</i>4-9 kg</div>
              <div class="row">
                <i class="material-icons">straighten</i>80-100 cm
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <h2>Appearance</h2>
          <div class="appearance_section">
          <div class="appearance_description">
            Sphynx cats are famous for their (nearly) nude appearance. They
            trait is lots of visible wrinkles. These kitties aren't actually
            more wrinkly than other cats, but the lack of thick fur highlights
            this universal feline trait. Notable traits include piercing
            lemon-shaped eyes; long, finger-like toes; large, bat-esque ears;
            and a big, rounded belly.
          </div>
          <div class="colors">
            <div>
              Possible colors:
              <ul>
                <li>white</li>
                <li>blue</li>
              </ul>
              </div>
              <div>
              Possible patterns:
              <ul>
                <li>point</li>
                <li>tabby</li>
                <li>lynx</li>
              </ul>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
    <footer>
      <p>Maja Nowakowska 2023</p>
    </footer>
  </body>
</html>
